// Spacers
.spacing-top {
  margin-top: 22px;
}

.spacing-right {
  margin-right: 22px;
}

.spacing-bottom {
  margin-bottom: 22px;
}

.spacing-left {
  margin-left: 22px;
}

// Table exceptions
// <td>

.user-table .td-centered {
  vertical-align: middle;
}

<<<<<<< HEAD
// Nav background colour overwrite
.navbar-default {
  background-color: #f5f5f5;
=======
// Card exceptions
// <img>

.card-img-left {
  margin: -20px 0 -20px -20px;
  max-width: 20%;
  float: left;
  border-top-left-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

// Card img left body
// <div>

.body-img-left {
  float: left;
}

// No text-decoration
// <a>

.no-decoration{
  text-decoration: none;
>>>>>>> dev
}