// Spacers
.spacing-top {
  margin-top: 22px;
}

.spacing-right {
  margin-right: 22px;
}

.spacing-bottom {
  margin-bottom: 22px;
}

.spacing-left {
  margin-left: 22px;
}

// Table exceptions
// <td>

.user-table .td-centered {
  vertical-align: middle;
}

// Nav background colour overwrite
.navbar-default {
  background-color: #f5f5f5;
}