// User dashboard styles
.game-controls {
  margin-top: -4px;
}

#games-list-table {
  display: block;
}

#games-flex-grid {
  display: none;
  flex-wrap: wrap;
}

.grid-item {
  width: calc(33% - 10px);
}

.game-title {
  margin-top: 0;
}