// User dashboard styles
.game-controls {
  margin-top: -4px;
}

#games-list-table {
  display: block;
}

.list-item {
  width: 100%;
  height: 200px;

  .thumbnail {
    margin-bottom: 0;
    height: 100%;
    width: auto;
  }

  .list-img {
    margin-right: 22px;
    max-width: 150px;
  }
}

#games-flex-grid {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  width: calc(33% - 10px);
  margin-right: 5px;
  margin-left: 5px;

  .grid-img {
    max-height: 250px;
  }

  .game-title {
    margin-top: 0;
  }

  .caption {
    min-height: 150px;
  }
}